<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.DocumentUserRelationDao">



	<sql id="Base_Column_List">
		id, documentID, userID, isAttention,isRead,actionTime,createTime
	</sql>

	<select id="queryDocumentUserRelation"  resultType="org.spring.springboot.domain.DocumentUserRelationDTO" parameterType="org.spring.springboot.domain.DocumentUserRelationDTO">
		select
		r.id, r.documentID, r.userID, r.isAttention,r.isRead,r.actionTime,d.documentName,d.documentCode,d.categoryName,d.taxPrice,d.finishDate
		from tbl_leinuo_document_relation r left join tbl_leinuo_document d on  r.documentID = d.id
		<where>
			<trim prefixOverrides="and">
				<if test="userID != null and userID != ''">
					AND  r.userID = #{userID}
				</if>
				<if test="isAttention != null ">
					AND  r.isAttention = #{isAttention}
				</if>
				<if test="isRead != null ">
					AND  r.isRead  = #{isRead}
				</if>
				<if test="documentID != null and documentID != ''">
					AND  r.documentID = #{documentID}
				</if>
			</trim>
		</where>
		order by  r.createTime desc;
	</select>

	<insert id="insertDocumentUserRelation" parameterType="org.spring.springboot.domain.DocumentUserRelationDTO" >
		insert into tbl_leinuo_document_relation(
		<if test="documentID != null  ">documentID,</if>
		<if test="userID != null  ">userID,</if>
		<if test="isAttention != null  ">isAttention,</if>
		<if test="isRead != null  ">isRead,</if>
		actionTime,createTime)
		values(
		<if test="documentID != null  ">#{documentID},</if>
		<if test="userID != null  ">#{userID},</if>
		<if test="isAttention != null  ">#{isAttention},</if>
		<if test="isRead != null  ">#{isRead},</if>
		date_format( now() ,'%Y%m%d%H%i%s'),
		date_format( now() ,'%Y%m%d%H%i%s'))
	</insert>

	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateDocumentUserRelation" parameterType="org.spring.springboot.domain.DocumentUserRelationDTO" >
		UPDATE tbl_leinuo_document_relation SET
		<trim  suffixOverrides="," >
			<if test="documentID != null and documentID != '' ">
				documentID=#{documentID},
			</if>
			<if test="userID != null and userID != '' ">
				userID=#{userID},
			</if>
			<if test="isRead != null  ">
				isRead=#{isRead},
			</if>
			<if test="isAttention != null ">
				isAttention=#{isAttention},
			</if>
			actionTime = date_format( now() ,'%Y%m%d%H%i%s')
		</trim>
		WHERE id = #{id}
	</update>


	<select id="queryDocumentUserRelationCountsByID"  resultType="java.lang.Integer" parameterType="java.util.Map">
		select
		count(1)
		from tbl_leinuo_document_relation
		where documentID=#{documentID}
	</select>

</mapper>
