<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.ImageSourceDao">
	<sql id="Base_Column_List">
		id, imageUrl, documentID, imageType
	</sql>


	<select id="queryImageTypeList"  resultType="org.spring.springboot.domain.ImageServerDTO" parameterType="org.spring.springboot.domain.ImageServerDTO">
		select
		<include refid="Base_Column_List" />
		from tbl_image_source where imageType = #{imageType}

	</select>


	<insert id="insertLeiNuoImage" parameterType="org.spring.springboot.domain.ImageServerDTO" >
		insert into tbl_image_source(
		<if test="imageUrl != null and imageUrl != '' ">imageUrl,</if>
		<if test="documentID != null and documentID != '' ">documentID,</if>
		imageType)
		values(
		<if test="imageUrl != null and imageUrl != '' ">#{imageUrl},</if>
		<if test="documentID != null and documentID != '' ">#{documentID},</if>
		#{imageType})
	</insert>


	<!--删除订单关联-->
	<delete id="deleteLeiNuoImageByIDs" parameterType="java.util.Map">
		DELETE 	 FROM tbl_image_source WHERE   id IN (${ids})
	</delete>


</mapper>
