<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.ImageSourceDao">
	<sql id="Base_Column_List">
		id, imageUrl, documentID, imageType
	</sql>


	<select id="queryImageTypeList"  resultType="org.spring.springboot.domain.ImageServerDTO" parameterType="org.spring.springboot.domain.ImageServerDTO">
		select
		<include refid="Base_Column_List" />
		from tbl_image_source where imageType = #{imageType}

	</select>

</mapper>
