<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.LawBookDetailDao">



	<sql id="Base_Column_List">
		id, lawID, userID,createTime,action
	</sql>

	<select id="readBookDetail"  resultType="org.spring.springboot.domain.LawBookDTO" parameterType="org.spring.springboot.domain.LawBookDTO">
		select
		d.id, d.lawID, d.userID,d.createTime,t.contect,t.title
		from tbl_leinuo_lawbook_detail d left join tbl_leinuo_lawbook_title t on   d.lawID = t.id
		<where>
			<trim prefixOverrides="and">
				<if test="lawID != null and lawID != ''">
					AND d.lawID = #{lawID}
				</if>
				<if test="userID != null and userID != ''">
					AND d.userID = #{userID}
				</if>
				    AND d.action !=2
			</trim>
		</where>
		ORDER  BY  createTime DESC
	</select>


	<insert id="insertLawBookDetail" parameterType="org.spring.springboot.domain.LawBookDTO" >
		insert into tbl_leinuo_lawbook_detail(
		<if test="lawID != null and lawID != '' ">lawID,</if>
		<if test="userID != null and userID != '' ">userID,</if>
		action,
		createTime)
		values(
		<if test="lawID != null and lawID != '' ">#{lawID},</if>
		<if test="userID != null and userID != '' ">#{userID},</if>
		0,
		date_format( now() ,'%Y%m%d%H%i%s'))
	</insert>


	<update id="updateLawBookDetail"  parameterType="org.spring.springboot.domain.LawBookDTO" >
		UPDATE tbl_leinuo_lawbook_detail SET
		<trim  suffixOverrides="," >
			<if test="lawID != null and lawID != '' ">
				lawID = #{lawID},
			</if>
		</trim>
		WHERE userID = #{userID}
	</update>

	<!--删除订单关联-->
	<delete id="deleteLawBookDetailByID" parameterType="org.spring.springboot.domain.LawBookDTO">
		DELETE 	 FROM tbl_leinuo_lawbook_detail WHERE  lawID = #{lawID} and userID = #{userID}
	</delete>


</mapper>
