<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.UserDao">
	<sql id="Base_Column_List">
		id, userName, passWord, telePhone,weChat,weChatName,actionTime,createTime,headImageUrl,deviceID,userType,openid,email
	</sql>


	<select id="loginUser"  resultType="org.spring.springboot.domain.UserDTO" parameterType="org.spring.springboot.domain.UserDTO">
		select
		<include refid="Base_Column_List" />
		from tbl_leinuo_user
		<where>
			<trim prefixOverrides="and">
				<if test="isLogin == 1  and userType == 1">
					AND userName = #{userName}
					AND passWord = #{passWord}
				</if>
				<if test="isLogin == 1  and userType == 2">
					AND telePhone = #{telePhone}
					AND passWord = #{passWord}
				</if>
				<if test="isLogin == 1  and userType == 3">
					AND openid  = #{openid}
					AND deviceID  = #{deviceID}
				</if>
				<if test="deviceID != null  ">
					AND deviceID = #{deviceID}
				</if>
				<if test="openid != null  ">
					AND openid = #{openid}
				</if>
				<if test="weChat != null and weChat != ''">
					AND weChat  = #{weChat}
				</if>
				<if test="telePhone != null and telePhone != ''">
					AND telePhone = #{telePhone}
				</if>

			</trim>
		</where>
	</select>

	<select id="webchatQuery"  resultType="org.spring.springboot.domain.UserDTO" parameterType="org.spring.springboot.domain.UserDTO">
		select
		<include refid="Base_Column_List" />
		from tbl_leinuo_user where  openid = #{openid}
	</select>





	<select id="queryUserById" parameterType="java.util.Map" resultType="org.spring.springboot.domain.UserDTO">
	select <include refid="Base_Column_List" />
	from tbl_leinuo_user where id = #{id}

</select>

	<select id="queryUserByTel" parameterType="java.util.Map" resultType="org.spring.springboot.domain.UserDTO">
		select <include refid="Base_Column_List" />
		from tbl_leinuo_user where telePhone = #{telePhone}

	</select>


	<insert id="registerUser" parameterType="org.spring.springboot.domain.UserDTO" >
		<selectKey resultType="java.lang.Long" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into tbl_leinuo_user(
		<if test="userName != null  ">userName,</if>
		<if test="passWord != null  ">passWord,</if>
		<if test="telePhone != null  ">telePhone,</if>
		<if test="weChat != null  ">weChat,</if>
		<if test="weChatName != null  ">weChatName,</if>
		<if test="deviceID != null  ">deviceID,</if>
		<if test="userType != null  ">userType,</if>
		<if test="openid != null  ">openid,</if>
		<if test="headImageUrl != null  ">headImageUrl,</if>
		<if test="email != null  ">email,</if>
		actionTime,createTime)
		values(
		<if test="userName != null  ">#{userName},</if>
		<if test="passWord != null  ">#{passWord},</if>
		<if test="telePhone != null  ">#{telePhone},</if>
		<if test="weChat != null  ">#{weChat},</if>
		<if test="weChatName != null  ">#{weChatName},</if>
		<if test="deviceID != null  ">#{deviceID},</if>
		<if test="userType != null  ">#{userType},</if>
		<if test="openid != null  ">#{openid},</if>
		<if test="headImageUrl != null  ">#{headImageUrl},</if>
		<if test="email != null  ">#{email},</if>
		date_format( now() ,'%Y%m%d%H%i%s'),
		date_format( now() ,'%Y%m%d%H%i%s'))
	</insert>


	<!--删除订单关联-->
	<delete id="deleteUserByOpenID" parameterType="java.util.Map">
		DELETE 	 FROM tbl_leinuo_user WHERE  openid=#{openid}
	</delete>




	<!-- 修改记录，只修改只不为空的字段 -->
	<update id="updateUserInformation" parameterType="org.spring.springboot.domain.UserDTO" >
		UPDATE tbl_leinuo_user SET
		<trim  suffixOverrides="," >
			<if test="userName != null and userName != '' ">
				userName=#{userName},
			</if>
			<if test="passWord != null and passWord != '' ">
				passWord=#{passWord},
			</if>
			<if test="telePhone != null and telePhone != '' ">
				telePhone=#{telePhone},
			</if>
			<if test="headImageUrl != null and headImageUrl != '' ">
				headImageUrl=#{headImageUrl},
			</if>
			<if test="email != null and email != '' ">
				email=#{email},
			</if>
			actionTime = date_format( now() ,'%Y%m%d%H%i%s')
		</trim>
		WHERE id = #{id}
	</update>


	<select id="queryUserList" parameterType="java.util.Map" resultType="org.spring.springboot.domain.UserDTO">
		select <include refid="Base_Column_List" />
		from tbl_leinuo_user
		<where>
			<trim prefixOverrides="and">
				<if test="userName != null and userName != ''">
					AND userName LIKE '%${userName}%'
				</if>

			</trim>
		</where>
		ORDER  BY  createTime DESC
	</select>


</mapper>
